.col-lg-1{ width: 8.33%; }
.col-lg-2{ width: 16.66%; }
.col-lg-3{ width: 25%; }
.col-lg-4{ width: 33.33%; }
.col-lg-5{ width: 41.66%; }
.col-lg-6{ width: 50%; }
.col-lg-7{ width: 58.33%; }
.col-lg-8{ width: 66.66%; }
.col-lg-9{ width: 75%;}
.col-lg-10{ width: 83.33%; }
.col-lg-11{ width: 91.66%; }
.col-lg-12{width: 100%; }

[class*="col"]{
	float: left;
}
h1{font-family: 'Dosis', sans-serif; font-size: 40px;}
h2{font-family: 'Dosis', sans-serif; font-size: 30px;}

.container-page
{
	width: 83.33%;
	margin: 10% auto;
}
/*----------------------------------------Header menu top style------------------------------------------------*/
.menu-top ul a{
	display: block;
	float: left;
	font-size: 1.1vw;
	word-spacing: 0;
	padding: 3%;
	font-weight: bold;
	color: #F2F4F4;
}
.menu-top li:first-child a{
	margin-left:15% ;
}
.menu-top{
	width: 100%;
	background-color: #E74C3C;
	position: fixed;
	top: 0;
	z-index: 100;
}

/*----------------------------------main style------------------------------------------------*/
.main {padding: 0 5%;}
.main hgroup {
	text-align: center;
}
.wrap-img{ overflow: auto; text-align: center; }
.wrap-img hgroup { margin-bottom: 5%; }
.wrap-img img
{
	width: 90%;
	height: auto;
	border: solid 1px #E1E1E1;
	padding: 2%;
	box-shadow: 3px 3px #383838 ;
}
.item h2{
	padding: 2%;
	font-size: 1.2vw;
	color: #212F3D
}
.item { margin-bottom: 10%; }


/*-------------------------------Footer page style-----------------------------------------------------*/
.footer-page{
	font-family: 'Roboto', sans-serif;
	background-color: #E74C3C;
}
.content-box {
	overflow: auto;
	padding: 0;
	padding: 5%;
}
.content-box ul{
	margin-top: 2%;
}
.content-box a{ display: block; color: white; font-size: 1.1vw; }
.content-box h2{font-style: normal; font-weight: 900; color: white; font-size: 2.1vw;}
.content-box li a:hover{ color: #922B21; }
.news-footer li{float: left; padding:2% 5% 2% 0%;}

address {
	padding-left: 5%;
	color: white; 
	font-size: 1.1vw;
	margin: 0; 
}
address li { padding:2% 0%}